
<div class="container-fluid">
  <div class="row">
    <title>NavBar</title>

    <body class="bg-secondary">

      <!-- Inicio del menu -->

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
          <!-- icono o nombre -->

          <a class="navbar-brand" href=" https://argentinaprograma.inti.gob.ar/ "> <img
              src=" ../../../assets/logo1.PNG " alt="Logo" width="100px" height="100">
            <i class="bi bi-flower1"></i>
            <span class="text-warning"></span>
          </a>
          <!-- boton del menu -->

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- elementos del menu colapsable -->

          <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
            </ul>
            <hr class="d-md-none text-white-50">

            <!-- enlaces redes sociales -->

            <ul class="navbar-nav  flex-row flex-wrap text-light">
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="nav-link" href="#contacto">
                  <i class="bi bi-at"></i>
                  <small class="d-md-none ms-2">Contacto</small>
                </a>
              </li>
              <li class="nav-item col-6 col-md-auto p-3">
                <a class="nav-link" href="  https://github.com/ ">
                  <i class="bi bi-github"></i>
                  <small class="d-md-none ms-2">GitHub</small>
                </a>
              </li>
            </ul>
            <!--boton Informacion -->
            <form class="d-flex">
              <button class="btn" type="submit" (click)="login()" *ngIf="!isLogged">Iniciar sesion</button>
              <button class="btn" type="submit" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            </form>
          </div>
        </div>
      </nav>
